{% extends "main/wrapper.html" %}

{% block title %}Главная страница{% endblock %}
{% block content %}
<div class="features">
    <h1>Немного о нас!</h1>

    <p>Добро пожаловать  на сайт 10А класса!</p>

<p>Сайт создан для учащихся,

родителей, учителей и друзей класса!

Здесь вы можете получить

необходимую информацию

 о том, как живет наш класс!

         Приглашаем к сотрудничеству и обмену информацией!<br> Далее предлагаем вам немного познакомиться с нашей любимой школой!</p><br>
<p><img src="https://www.atomic-energy.ru/files/styles/center/public/images/2020/08/balakovo_20.jpg?itok=e7qx8OoI" height="400" width="600" "></p>
<br>
    <p>Муниципальное автономное общеобразовательное учреждение «Гимназия №2» расположено по адресу: 413863, Саратовская область, г. Балаково, ул. Бульвар Роз, д. 5А

Директор гимназии – Гевлич Инна Кимовна, учитель высшей квалификационной категории, кандидат технических наук, почетный работник общего образования.

МАОУ Гимназия №2 расположена в здании, построенном по типовому проекту в 1986 году.</p>
    <p><img src="http://www.admbal.ru/komfortnaya-gorodskaya-sreda/proekty-blagoustroystva-sotsialno-otvetstvennogo-biznesa/stadion-gimnazii-2/Small_img_6862.jpg" height="400" width="600" align="center"></p>

<p> В 2021-22 учебном году в Гимназии обучается 1065 детей, из них в начальных классах 443 человека, в основной школе –459, в старших классах – 163 человека.

    Все учащиеся Гимназии обучаются в первую смену.</p>
    <p><img src="https://sun9-63.userapi.com/impf/c830400/v830400811/dc597/24MB8jDwDSM.jpg?size=604x403&quality=96&sign=85a2135b39e14d070f719aceb42726a9&c_uniq_tag=mfk_uYd7EtXOwobT3lGKXsT78-TRz8fJukg1LhNxRLc&type=album" height="400" width="600" ></p>

    <p> В школе имеется 53 учебных кабинета, в том числе оборудованные предметные кабинеты по физике, химии, биологии, географии, информатике. В двух компьютерных классах установлено по 14 персональных компьютеров, объединенных в классные локальные сети, 2 интерактивные доски. Все учебные кабинеты Гимназии оснащены современными компьютерами, которые объединены в единую школьную сеть с доступом в Интернет на скорости до 100 Мбит/с, веб-камерами для проведения онлайн уроков и использования дистанционных технологий; 90% школьных кабинетов имеет проекторы, в 8 кабинетах установлены интерактивные доски, в двух кабинетах установлены интерактивные панели диагональю 86’, в информационно-библиотечном центре установлен интерактивный стол.</p>
    <p><img src="https://pp.userapi.com/c637729/v637729089/54803/BlDPo6fQu3M.jpg" height="400" width="600" "></p>

<p> В рамках многолетнего сотрудничества с Балаковской АЭС и развития различных видов спорта на территории г. Балаково на школьном стадионе Гимназии функционирует многофункциональный физкультурно-спортивный комплекс, который включает футбольное поле, две универсальные площадки для таких видов спорта как волейбол, бадминтон и большой теннис, а также профессиональная площадка для баскетбола, площадка для воркаута, беговые дорожки. Комплекс позволит более качественно реализовывать здоровье сберегающие технологии в обучении и воспитании учащихся гимназии.</p>
    <p><img src="http://www.admbal.ru/upload/iblock/040/0406f094c8f2ee2363ce4daee40407fe.jpg" height="400" width="600" ></p>

<p> В школе имеется внутренний дворик, который оборудован для отдыха учащихся во время школьных перемен и проведения общешкольных мероприятий во внеурочное время.

    Для реализации программы внеурочной деятельности «Шахматы в школе» используется класс, оборудованный магнитной шахматной доской и 15 комплектами шахмат.</p>

<p> Технический персонал Гимназии поддерживает помещения в надлежащем санитарном состоянии, проводит ежедневные уборки по пресечению распространения COVID-19.

    В школе имеется столовая на 200 посадочных мест. Учащиеся начальных классов обеспечиваются бесплатным горячим питанием, предусматривающим наличие горячего блюда, не считая горячего напитка, в дни обучения за счет источников финансирования, предусмотренных законодательством Российской Федерации. А также, в пределах выделенных финансовых средств осуществляется льготное питание детей из малоимущих, многодетных семей, семей, находящихся в социально опасном положении, детей-сирот и детей, оставшихся без попечения родителей, находящихся под опекой (попечительством), детей-инвалидов. Услуги по питанию учащихся оказывают штатные работники Гимназии.</p>
    <p> <img class="center" src="https://sun9-2.userapi.com/impf/c637326/v637326222/2d3a4/ZND4xL30vUg.jpg?size=2560x1707&quality=96&sign=16962e78db93b255baddeb516226ad8e&type=album" height="400" width="600" ></p>
<p>Для обеспечения безопасных условий для детей и работников школы в учреждении используется система внутреннего и внешнего видеонаблюдения, организована охрана, установлена и поддерживается в рабочем состоянии кнопка тревожной сигнализации, а также система противопожарной сигнализации. В системе проводятся инструктажи с участниками образовательного процесса, тренировки, уроки безопасности.</p>
</div>

{% endblock %}
