{% extends "main/wrapper.html" %}

{% block title %}Достижения{% endblock %}
{% block content %}
<div class="features">
    <h1>Расписание 10А</h1>
    <div class="center">


        <h4>Понедельник<br></h4>
        <p>1. Астрономия (8.00 - 8.40)<br>
        2. Индивидуальный проект (8.50 - 9.30)<br>
        3. Физика/Биология (9.45 - 10.25)<br>
        4. Физика/Биология (10.40 - 11.20)<br>
        5. Математика (11.35 - 12.15)<br>
        6. ФЗК (12.25 - 13.05)<br>
        7. Английский язык (13.20 - 14.00)



        </p><br>
        <h4>Вторник<br></h4>
        <p>1. Классный час (8.00 - 8.40)<br>
        2. Литература (8.50 - 9.30)<br>
        3. ФЗК (9.45 - 10.25)<br>
        4. Математика (10.40 - 11.20)<br>
        5. Английский язык (11.35 - 12.15)<br>
        6. Информатика/Химия (12.25 - 13.05)<br>
        7. Информатика/Химия (13.20 - 14.00)<br>
        8. Русский язык (Физмат) (14.10 - 14.50)</p><br>

        <h4>Среда<br></h4><p>
        1. Математика (8.00 - 8.40)<br>
        2. Литература (8.50 - 9.30)<br>
        3. ФЗК (9.45 - 10.25)<br>
        4. Математика (10.40 - 11.20)<br>
        5. Английский язык (11.35 - 12.15)<br>
        6. Информатика/Биология (12.25 - 13.05)<br>
        7. Информатика/Биология (13.20 - 14.00)<br>
        8. Русский язык (14.10 - 14.50)</p><br>
        <h4>Четверг<br></h4><p>
        1. Индивидуальный проект (8.00 - 8.40)<br>
        2. История (8.50 - 9.30)<br>
        3. Физика/Химия (9.45 - 10.25)<br>
        4. Физика/Химия (10.40 - 11.20)<br>
        5. Математика (11.35 - 12.15)<br>
        6. Математика электив(12.25 - 13.05)<br>
        7. Английский язык (13.20 - 14.00)<br>
        8. Физика(Химбио) (14.10 - 14.50)</p><br>
        <h4>Пятница<br></h4><p>
        1. Физика/Химия электив (8.00 - 8.40)<br>
        2. Математика (8.50 - 9.30)<br>
        3. История (9.45 - 10.25)<br>
        4. Литература (10.40 - 11.20)<br>
        5. ОБЖ(11.35 - 12.15)<br>
        6. Физика (Химбио) (12.25 - 13.05)<br>
        7. Физика (Физмат) (13.20 - 14.00)<br>
        8. Физика ВД (14.10 - 14.50)</p><br>


    </div>
</div>
<!--{% include 'main/includes/html.html' %}
{% include 'main/includes/html.html' %}-->
{% endblock %}
