{% extends "main/wrapper.html" %}

{% block title %}Контакты{% endblock %}
{% block content %}
<div class="features">
    <h1>Контакты</h1>
    <ul>

        <p>Почта - antongyrdymov@yandex.ru</p>
        <a href="https://vk.com/paradise900" target="_blank"><li ><button class="btn btn-info"><i class="fab fa-vk"></i> VK</button></li></a>
        <a href="https://www.instagram.com/anton_gyrdymov/" target="_blank" ><li><button class="btn btn-info"><i class="fab fa-instagram"></i> Inst</button></li></a>


    </ul>
</div>
{% endblock %}